
<!doctype html>
<html>


<body>


  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h3 class="widget-title">CADEOS.io<span></span></h3>
              <p>Decentralized PLM & CAD Platform </p>
              <p><a href="/assets/CADEOSio Whitepaper 3.pdf">WhitePaper</a></p>
              <p><a href="/assets/CADEOS.io Registration Agreement.pdf">Registration Agreement</a></p>
              <p><a href="/assets/CADEOS.io Registration Agreement.pdf">Privaticy Policy</a></p>
              <p><a href="https://cadeos.io/bp.json">Block Produccer .JSON</a></p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">QUICK LINKS<span></span></h3>
              <ul class="thumbnail-widget">
                <li>
                  <div class="thumb-content"><a href="#.">3D</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">PLM</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">JOBS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">TOLLS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">WALLET</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">CAMPUS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">ABOUT</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">GET STARTED<span></span></h3>
              <p>Get access to your full project features and work enviroment</p>
              <a class="btn" href="/register" target="_blank">Register Now</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h3 class="widget-title">CONTACT US<span></span></h3>

              <p><a href="mailto:info@domain.com">ggalindo@cadeos.io</a></p>

              <div class="row iconbar" style=" padding-top: 1%;">

                <div class="footericons">
                  <a class="padding-top-subtitle" href="https://github.com/CADEOS" target="_blank">
                    <img srcset="" alt="" src="/assets/GitHub.png" class="footericons">
                  </a>
                  
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" href="https://web.facebook.com/cadeos.io"
                    target="_blank">
                    <img srcset="" alt="" src="/assets/facebook.png" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" href="https://twitter.com/cadeosi" target="_blank">
                    <img srcset="" alt="" src="/assets/Twitter.png" class="footericons">
                  </a>
        
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" href="https://t.me/cadeos" target="_blank">
                    <img srcset="" alt="" src="/assets/telegram.png" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" href="https://medium.com/cadeos-io" target="_blank">
                    <img srcset="" alt="" src="/assets/medium.png" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" href="" target="_blank">
                    <img srcset="" alt="" src="/assets/blockchain.png" class="footericons">
                  </a>
        
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright CADEOS.io © 2018. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>