


<!doctype html>
<html>


<div class="backstretch animated">
<div class="register-page">
  <div class="register-card">
      <h1 class="card-header" style=" color: white; ">Create User</h1>
      <div class="card-body">

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

              <div class="form-row">
                  <div class="col-md-4 mb-3">
                      <label for="firstName">First Name</label>
                      <input type="text" formControlName="firstName" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="lastName">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="username">Username</label>
                      <input type="text" formControlName="username" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">Username is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="password">Password</label>
                      <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="email">Email</label>
                      <input type="text" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="web">Personal Web</label>
                      <input type="web" formControlName="web" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.web.errors }" />
                      <div *ngIf="submitted && f.web.errors" class="invalid-feedback">
                          <div *ngIf="f.web.errors.required">Web is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="city">City</label>
                      <input type="text" formControlName="city" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">City is required</div>
                      </div>
                  </div>


                  <div class="col-md-4 mb-3">
                      <label for="country">Country</label>
                      <input type="text" formControlName="country" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                          <div *ngIf="f.country.errors.required">Country is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="profesion">Profesion</label>
                      <input type="text" formControlName="profesion" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.profesion.errors }" />
                      <div *ngIf="submitted && f.profesion.errors" class="invalid-feedback">
                          <div *ngIf="f.profesion.errors.required">Profesion is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="skills">Skills</label>
                      <input type="text" formControlName="skills" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.skills.errors }" />
                      <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                          <div *ngIf="f.skills.errors.required">Skills is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="stacks">Used Softwares</label>
                      <input type="text" formControlName="stacks" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.stacks.errors }" />
                      <div *ngIf="submitted && f.stacks.errors" class="invalid-feedback">
                          <div *ngIf="f.stacks.errors.required">Stacks is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="birthdate">Birth Date</label>
                      <input type="date" formControlName="birthdate" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
                      <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                          <div *ngIf="f.birthdate.errors.required">Birthdate is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="jobseeker">Describe yourself.</label>
                      <input type="text" formControlName="jobseeker" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.jobseeker.errors }" />
                      <div *ngIf="submitted && f.jobseeker.errors" class="invalid-feedback">
                          <div *ngIf="f.birthdate.errors.required">Birthdate is required</div>
                      </div>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="eosaccount">EOS Account</label>
                      <input type="text" formControlName="eosaccount" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.eosaccount.errors }" />
                      <div *ngIf="submitted && f.eosaccount.errors" class="invalid-feedback">
                      </div>
                  </div>


                  <div class="col-md-4 mb-3">

                      <input id="fileInput" accept="image/*," style="visibility: hidden;" type="file"
                          (change)="handleInputChange($event)" formControlName="photo"
                          [ngClass]="{ 'is-invalid': submitted && f.photo.errors }" />
                      <label class="hoverable" for="fileInput">
                          <img class="avatar" [src]="url ? url : 'assets/LogoGris.svg'">
                          <div class="hover-text">Choose file</div>
                          <div class="background"></div>
                      </label>
                      <div *ngIf="submitted && f.photo.errors" class="invalid-feedback">
                      <div *ngIf="f.photo.errors.required">Photo is required</div>
                      </div>
                      <br />
                  </div>
              </div>

              <div class="col-md-8 mb-3">
                  <div class="form-check1" ng-controller="ExampleController">
                      <input class="form-check-input" type="checkbox" id="gridCheck2" ng-true-value="'YES'" ng-false-value="'NO'" ng-model="checkboxModel.value1">
                      <label class="form-check-label" for="gridCheck2">
                          CADEOS.io could send me emails with personalized offers, support updates, and event
                          news.
                      </label>
                  </div>
              </div>

              <div class="col-md-8 mb-3">
                  <div class="form-check2" ng-controller="ExampleController">
                      <input class="form-check-input" type="checkbox" id="gridCheck1" ng-true-value="'YES'" ng-false-value="'NO'" ng-model="checkboxModel.value1">
                      <label class="form-check-label" for="gridCheck1">
                          By clicking SUBSCRIBE, you agree to the CADEOS.io Privacy Statement.
                      </label>
                  </div>
              </div>

              <div class="col-md-8 mb-3">
                  <button [disabled]="loading" class="btn btn-primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Register
                  </button>
                  <a routerLink="/login" class="btn btn-link">Cancel</a>
              </div>

          </form>
      </div>
  </div>
</div>
</div>

</html>

<cookie-law learnMore="/assets/CADEOS.io Privacy Policy.pdf" target="_self"></cookie-law>