
<!doctype html>
<html lang="en">


<body>


  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h3 class="widget-title">CADEOS.io<span></span></h3>
              <p>Decentralized PLM & CAD Platform </p>
              <p><a href="/assets/CADEOSio Whitepaper 3.pdf">WhitePaper</a></p>
              <p><a href="/assets/CADEOS.io Registration Agreement.pdf">Privaticy Policy</a></p>
              <p><a href="https://cadeos.io/bp.json">Block Producer .JSON</a></p>
              <p><a href="/assets/CADEOS.io Registration Agreement.pdf">Registration Agreement</a></p>
              <p><a href="https://api.cadeos.io/">https://api.cadeos.io EOS API</a></p>
              <p><a href="https://p2p.cadeos.io/">https://p2p.cadeos.io EOS ENDPOINT</a></p>
              
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">QUICK LINKS<span></span></h3>
              <ul class="thumbnail-widget">

                <li>
                  <div class="thumb-content"><a href="#.">PLM</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">JOBS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">TOOLS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">WALLET</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">CAMPUS</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="#.">3D&PRINT</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h3 class="widget-title">GET STARTED<span></span></h3>
              <p>Get access to your full project features and work enviroment</p>
              <a class="btn" href="/register" target="_blank">Register Now</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h3 class="widget-title">CONTACT US<span></span></h3>

              <p><a href="mailto:info@domain.com">ggalindo@cadeos.io</a></p>

              <div class="row iconbar" style=" padding-top: 1%;">

                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener"  href="https://github.com/CADEOS" target="_blank">
                    <img srcset="" alt="github" src="/assets/GitHub.svg" class="footericons">
                  </a>
                  
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://web.facebook.com/cadeos.io"
                    target="_blank">
                    <img srcset="" alt="faceook" src="/assets/facebook.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://twitter.com/cadeosi" target="_blank">
                    <img srcset="" alt="twitter" src="/assets/Twitter.svg" class="footericons">
                  </a>
        
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
                    <img srcset="" alt="telegram" src="/assets/telegram.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="https://medium.com/cadeos-io" target="_blank">
                    <img srcset="" alt="medium" src="/assets/medium.svg" class="footericons">
                  </a>
        
                </div>
                <div class="footericons">
                  <a class="padding-top-subtitle" rel="noopener" href="" target="_blank">
                    <img srcset="" alt="blockchain" src="/assets/blockchain.svg" class="footericons">
                  </a>
        
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright CADEOS.io © 2018. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>