
   
    <body>

    <script src="/dist/index.js"></script>
<!-- top left header (logo and error message) -->
    <div id="header">
      <a class="navbar-brand " routerLink="./"><img src="/imgs/cadeosico.png" />   CADEOS.io</a>
    </div>

<!-- sliding tab (help, links, examples, options, etc) -->
    <div id="menu">
      <img id="menuHandle" src="/imgs/menuHandleVLIn.png">
      <nav>
        <div id="menuVersion"></div>

<!--
        <div id="optionsTitle" class="navlink"><a href='#' onclick='return false'>Options</a></div>
        <div id="options"></div>
        <span class="menuSubInfo">Your personal settings</span></p>
 -->
        <b>Supported Formats</b>
        <table class="info">
          <tr><td align="right"><b>jscad</b></td><td><a target="_blank" rel="noopener" href="https://openjscad.org/dokuwiki/doku.php">OpenJSCAD</a> (native, import/export)</td></tr>
          <tr><td align="right"><b>scad</b></td><td><a target="_blank" rel="noopener" href="http://openscad.org">OpenSCAD</a> (<a target=_blank href="https://openjscad.org/dokuwiki/doku.php">experimental</a>, import)</td></tr>
          <tr><td align="right"><b>stl</b></td><td><a target="_blank" rel="noopener" href="http://en.wikipedia.org/wiki/STL_(file_format)">STL format</a> (experimental, import/export)</td></tr>
          <tr><td align="right"><b>amf</b></td><td><a target="_blank" rel="noopener" href="http://en.wikipedia.org/wiki/Additive_Manufacturing_File_Format">AMF format</a> (experimental, import/export)</td></tr>
          <tr><td align="right"><b>dxf</b></td><td><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/AutoCAD_DXF">DXF format</a> (experimental, import/export)</td></tr>
          <tr><td align="right"><b>x3d</b></td><td><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/X3D">X3D format</a> (experimental, export)</td></tr>
          <tr><td align="right"><b>svg</b></td><td><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics">SVG format</a> (experimental, import/export)</td></tr>
        </table>
        <p><a class="navlink about" href="#">About</a></p>
      </nav>
    </div> <!-- /menu -->

<!-- about dialog -->
    <div id="about">
      <img src="/imgs/CADEOS Logo transparent background2.png" style=" width: 20%;">
      <div id="aboutVersion" ></div>

      <p>


<p>
License: MIT License<br>
Get your copy/clone/fork from <a href="https://github.com/CADEOS" target="_blank" rel="noopener">GitHub: CADEOS.io</a>
      </p>
      <p>
        <br/><a class="okButton" href='#'> OK </a>
      </p>
    </div> <!-- about -->


<!-- design viewer -->
    <div oncontextmenu="return false;" id="viewerContext"></div> <!-- avoiding popup when right mouse is clicked -->

<!-- design parameters -->
    <div id="parametersdiv"></div>
    <div id="selectdiv"></div>

<!-- design information (status message, download buttons, drag and drop area, etc) -->
    <div id="tail">
      <div id="statusdiv"></div>
      <div id="filedropzone">
        <div id="filedropzone_empty">
        </div>
        <div id="filedropzone_input">
          <p>
            <label class="input-control">Add Supported Files: <input type="file" id="files-input" accept="*/*" multiple="1"></label>
          </p>
        </div>
        <div id="filedropzone_filled">
          <span id="currentfile">...</span>
          <div id="filebuttons">
            <button id="getstlbutton" style="display:none" onclick="getStl();">Get STL</button>
            <button id="reloadAllFiles">Reload</button>
           <!--button onclick="parseFile(gCurrentFile,true,false);">Debug (see below)</button-->
            <label for="autoreload">Auto Reload</label><input type="checkbox" name="autoreload" value="" id="autoreload">
          </div>
        </div>
      </div>
    </div> <!-- tail -->


  </body>

