
<div class="container-fluid">
    <div class=”row”>
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg full-width-row">
      <a class="navbar-brand" style=" font-family: 'Anton', sans-serif; font-size: 40px; " routerLink="/"><img src="/assets/cadeosico.png"  />   CADEOS.io</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/getting-started" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">PLM</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/features" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">TOOLS</a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" routerLink="/examples" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">CAMPUS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/i18n" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">LOGIN</a>
        </li>
        <li class="full-width-row" style="object-position: right;">
          <a class="nav-link" routerLink="/wallet" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">WALLET</a>
        </li>
        <li class="full-width-row" style="object-position: right;">
          <a class="nav-link" routerLink="/cadeosio3d" (click)="navbarCollapsed = true" style=" font-family: 'Anton', sans-serif; font-size: 20px;">3D</a>
        </li>

      </ul>
    </div>
  </header>
</div>
