<div class="jumbotron-fluid">
  <div class="container">
  </div>
</div>

<section>
  <div class="container">

    <!--features-->
    <mat-pages title="Trade your ADE tokens">

      <!--1-->
      <mat-page-loader>
        <mat-page-outlook title="Nedex"></mat-page-outlook>
        <mat-page-content>

        </mat-page-content>
      </mat-page-loader>

      <!--2-->
      <mat-page-loader>
        <mat-page-outlook title="Findex"></mat-page-outlook>
        <mat-page-content>


        </mat-page-content>
      </mat-page-loader>

      <!--3-->
      <mat-page-loader>
        <mat-page-outlook title="Token Store"></mat-page-outlook>
        <mat-page-content>

        </mat-page-content>
      </mat-page-loader>

      <!--4-->
      <mat-page-loader>
        <mat-page-outlook title="Yolo"></mat-page-outlook>
        <mat-page-content>



        </mat-page-content>
      </mat-page-loader>

      <!--5-->
      <mat-page-loader>
        <mat-page-outlook title="Mydex"></mat-page-outlook>
        <mat-page-content>



        </mat-page-content>
      </mat-page-loader>

    </mat-pages>

  </div>
</section>
