
<!DOCTYPE html>
<html lang="en">

<body>

<div class="home">
  <div class="layout">

    <video autoplay="autoplay" loop="loop" id="video_background" preload="auto">
      <source src="/assets/homevideo.webm" type="video/webm"/>
    </video>

    <div class="backstretch animated" style=" margin-top: 40%">
      <div class="row iconbar">

        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://bitsonic.co.kr/front/en/exchange/ade-eos" target="_blank">
            <img srcset="" alt="bitsonic" src="/assets/bitsonic.svg" class="homeicons">
          </a>
          <h3>Bitsonic</h3>
        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://findex.pro/trade/cadeositoken_ADE-eosio.token_EOS"
            target="_blank">
            <img srcset="" alt="findex" src="/assets/findex.svg" class="homeicons">
          </a>
          <h3>Findex</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://token.store/" target="_blank">
            <img srcset="" alt="tokenstore" src="/assets/TokenStore.svg" class="homeicons">
          </a>
          <h3>TokenStore</h3>


        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://mydex.win/" target="_blank">
            <img srcset="" alt="mydex" src="/assets/Mydex.svg" class="homeicons">
          </a>
          <h3>Mydex</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://akdex.io/trade/ADE_EOS" target="_blank">
            <img srcset="" alt="akkadex" src="/assets/Akkadex.svg" class="homeicons">
          </a>
          <h3>Akdex</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://lynxwallet.io/" target="_blank">
            <img srcset="" alt="lynx" src="/assets/Lynx.svg" class="homeicons">
          </a>
          <h3>Lynx</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://meet.one/" target="_blank">
            <img srcset="" alt="meet" src="/assets/meet.svg" class="homeicons">
          </a>
          <h3>MEET.one</h3>


        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://tokenbank.co.kr/" target="_blank">
            <img srcset="" alt="tokenbank" src="/assets/tokenbank.svg" class="homeicons">
          </a>
          <h3>TokenBank</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="http://more.one/" target="_blank">
            <img srcset="" alt="moreone" src="/assets/moreone.svg" class="homeicons">
          </a>
          <h3>MoreOne</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.tokenpocket.pro/" target="_blank">
            <img srcset="" alt="tokenpoket" src="/assets/tokenpoket.svg" class="homeicons">
          </a>
          <h3>TokenPoket</h3>
        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.eoswriter.io/" target="_blank">
            <img srcset="" alt="eoswrite" src="/assets/eoswrite.svg" class="homeicons">
          </a>
          <h3>EOSWriter</h3>
        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://tokenrocket.kr/" target="_blank">
            <img srcset="" alt="tokenrocket" src="/assets/tokenrocket.svg" class="homeicons">
          </a>
          <h3>TokenRocket</h3>
        </div>

      </div>

      <div class="row-full">

      <div id="slider" class="carousel slide infinite" style="padding-top: 1%;" data-ride="carousel"
        data-interval="3000" data-wrap="true">
        <ol class="carousel-indicators align-items-center justify-content-center">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
          <li data-target="#slider" data-slide-to="4"></li>
          <li data-target="#slider" data-slide-to="5"></li>
          <li data-target="#slider" data-slide-to="6"></li>
          <li data-target="#slider" data-slide-to="7"></li>
          <li data-target="#slider" data-slide-to="8"></li>
          <li data-target="#slider" data-slide-to="9"></li>
          <li data-target="#slider" data-slide-to="10"></li>
          <li data-target="#slider" data-slide-to="11"></li>
          <li data-target="#slider" data-slide-to="12"></li>
          <li data-target="#slider" data-slide-to="13"></li>
          <li data-target="#slider" data-slide-to="14"></li>
          <li data-target="#slider" data-slide-to="15"></li>
          <li data-target="#slider" data-slide-to="16"></li>
          <li data-target="#slider" data-slide-to="17"></li>
          <li data-target="#slider" data-slide-to="18"></li>
          <li data-target="#slider" data-slide-to="19"></li>
          <li data-target="#slider" data-slide-to="20"></li>
          <li data-target="#slider" data-slide-to="21"></li>
          <li data-target="#slider" data-slide-to="22"></li>
          <li data-target="#slider" data-slide-to="23"></li>
          <li data-target="#slider" data-slide-to="24"></li>
          <li data-target="#slider" data-slide-to="25"></li>
          <li data-target="#slider" data-slide-to="26"></li>
          <li data-target="#slider" data-slide-to="27"></li>
          <li data-target="#slider" data-slide-to="28"></li>
        </ol>
        <div class="carousel-inner" data-ride="carousel" data-interval="50000" data-pause="hover" data-wrap="false">
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper1.svg" title="1" alt="1" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper2.svg" title="2" alt="2" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper3.svg" title="3" alt="3" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper4.svg" title="4" alt="4" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 " src="./assets/CADEOS - Whitepaper5.svg" title="5" alt="5" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 " src="./assets/ADE EXCHANGES ANNOUNCE.svg" title="6" alt="6" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/ADE Token Store.svg" title="6" alt="6" href="#carousel">
          </div>
          <div class="carousel-item active">
            <img class="d-block w-100" src="./assets/CADEOS3.svg" title="7" alt="7" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS3 - Dexeos.svg" title="8" alt="8" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS3 - FINDEX.svg" title="9" alt="9" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS3 - Mydex 3.svg" title="10" alt="10" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS3-newdex2.svg" title="11" alt="11" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - EOSdaq.svg" title="12" alt="12" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper1.svg" title="13" alt="13" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper2.svg" title="14" alt="14" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper3.svg" title="15" alt="15" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper4.svg" title="16" alt="16" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper5.svg" title="17" alt="17" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS - Whitepaper6.svg" title="18" alt="18" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS.svg" title="19" alt="19" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS2.svg" title="20" alt="20" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS3.svg" title="21" alt="21" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS4.svg" title="22" alt="22" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS5.svg" title="23" alt="23" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS6.svg" title="24" alt="24" href="#carousel">
          </div>e
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS7.svg" title="25" alt="25" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS8.svg" title="26" alt="26" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/CADEOS9.svg" title="27" alt="27" href="#carousel">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./assets/tokendistribution.svg" title="28" alt="28" href="#carousel">
          </div>

          <a class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

      <div class="row iconbar" style=" padding-top: 1%;">

        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener"  href="https://github.com/CADEOS" target="_blank">
            <img srcset="" alt="github" src="/assets/GitHub.svg" class="homeicons">
          </a>
          <h3>Github</h3>
        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://web.facebook.com/cadeos.io"
            target="_blank">
            <img srcset="" alt="facebook" src="/assets/facebook.svg" class="homeicons">
          </a>
          <h3>Facebook</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://twitter.com/cadeosi" target="_blank">
            <img srcset="" alt="twitter" src="/assets/Twitter.svg" class="homeicons">
          </a>
          <h3>Twitter</h3>


        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://t.me/cadeos" target="_blank">
            <img srcset="" alt="telegram" src="/assets/telegram.svg" class="homeicons">
          </a>
          <h3>Telegram</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://medium.com/cadeos-io" target="_blank">
            <img srcset="" alt="medium" src="/assets/medium.svg" class="homeicons">
          </a>
          <h3>Medium</h3>

        </div>
        <div class="homeicons">
          <a class="padding-top-subtitle" rel="noopener" href="blockchain" target="_blank">
            <img srcset="" alt="blockchain" src="/assets/blockchain.svg" class="homeicons">
          </a>
          <h3>Exchanges</h3>

        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h1>ELIMINATING OBSTACLES FOR CREATORS</h1>
            </div>
            <div class="card-body">

              <h2>Today one of the biggest consttrains for entrepreneurs and creators are the expensive software
                licenses and, with CADEOS, we want to facilitate this process to everyone by getting rid of the problem
                with our decentralised software. We will make the creation process and product launch affordable and
                very easy within an intuitive and user friendly environment.



                By tokenising all kind of projects our users can see their ideas and effort successfully implemented.
                Our platform would will bring an opportunity to those brilliant minds that are stopped by the market
                barriers.



                From the first sketch to the manufacture process, the users can monitor the state of your design in our
                Product Lifecycle Manager (PLM) platform. Factories, suppliers and all the 3rd parties interested will
                be able to review your Request for Quotation (RfQ) in our platform and send the manufacture price for
                each component.



                With CADEOS you can design any mechanical and electronic component with our decentralised CAD software
                and promote it in our Community, under the watchful eye of thousands of investors looking for the best
                idea.



                CADEOS platform will host a large gallery of components from thousands of different brands and will be
                responsible of providing the most extensive resources as possible for an easy product composition.



                By creating your portfolio of suppliers you will have the best advice and direct communication with the
                best professionals in any industry around the world. Each area will have their own communication
                channels and chatrooms.



                With every creation within your dynamic user profile, you will add value to all your products, 3D
                models, 3D printer parts, electronic schemes, etc... favouring the bids and sales which will be a
                success
                in CADEOS Platform. Your work will never be lost or forgotten and will be revaluated from time to time
                with our token ADE.</h2>


            </div>
          </div>
        </div>
      </div>

      <h1>OUR TEAM</h1>

      <div class="row iconbar" style=" padding-top: 1%;">

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/maria-jose-arroyo-gerez-36907991/"
            target="_blank">
            <img class= "teamicons" alt="majo"  src="/assets/majo.svg"></a>
          <h2>Maria J. Arroyo</h2>
          <h3>Chief Marketing</h3>
        </div>


        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/guillermo-galindo-saeta-749a2557/"
            target="_blank">
            <img class= "teamicons" alt="guille" src="/assets/guille.svg"></a>
          <h2>Guillermo Galindo</h2>
          <h3>Full Stack Developer</h3>
        </div>

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/h%C3%A9ctor-garz%C3%B3n-6914ba69/"
            target="_blank">
            <img class= "teamicons" alt="hector" src="/assets/hector.svg"></a>
          <h2>Hector Garzon</h2>
          <h3>Mobile-App Developer</h3>
        </div>

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/javier-saeta-hidalgo/" target="_blank">
            <img class= "teamicons"alt="javi" src="/assets/javi.svg"></a>
          <h2>Javier Saeta</h2>
          <h3>Junior Developer</h3>
        </div>

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/dgalindosaeta/" target="_blank">
            <img class= "teamicons" alt="diego" src="/assets/diego.svg"></a>
          <h2>Diego Galindo</h2>
          <h3>Chief Programmer</h3>
        </div>

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/jes%C3%BAs-moya-galindo-bb24861a/"
            target="_blank">
            <img class= "teamicons" alt="jesus" src="/assets/jesus.svg"></a>
          <h2>Jesus Moya</h2>
          <h3>PLM Expert</h3>
        </div>

        <div class="teamicons">
          <a class="padding-top-subtitle" rel="noopener" href="https://www.linkedin.com/in/antonio-galindo/" target="_blank">
            <img class= "teamicons" alt="antonio" src="/assets/antonio.svg"></a>
          <h2>Antonio Galindo</h2>
          <h3>Business Expert</h3>
        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h1>TOKENIZING THE WORK</h1>
            </div>
            <div class="card-body">

              <h2>CADEOS.io developing a real time processing Computer Aided Design (CAD) and a Product Lifecycle
                Management (PLM) platform based on EOS blockchain architecture. It provides the best real time design
                tools to the community, including data sharing, video calls, instant messenger and screen sharing for
                the best collaborative experience, showing progress of the project management work and helping to grow
                your network.



                All this within an intuitive, user friendly and fast environment where the user can feel that they are
                part of the Cadeos Community, with interactive galleries and video tutorials that will help you to
                improve your technical knowledge as you move on in the process.



                With this great software and product design experience CADEOS platform will be a revolution on how the
                companies spend their capital, saving time and resources, unifying every daily task in this unique and
                secure platform.



                Our roadmap will start with the launch of CADEOS.io platform; then we will build a CAD. file sharing
                platform for each industrial sector. The Community will be able to upload their models in their own
                galleries, and the users will be able to download them to be used in their own designs accordingly to
                their needs.



                CADEOS.io will support the following extensions in the first release: .stp, .igs, stl.



                The next releases in our roadmap will be mainly focused on adding new design modules and galleries to
                the existing platform.



                As added value to the community we want to create a job network where companies will be able to post
                their job offers to professionals seeking job in all the areas involved such as CAD, 3D printers parts,
                software development, etc. Being part of this network will be free for the jobseekers creating a huge
                benefit to the EOS ecosystem.



                Companies will just have to pay a fee for the service they will use or the duration. All invoices will
                be linked to a smart contract associated to their corresponding wallet. Data protection and security are
                guaranteed by Block.one/EOS reliability.</h2>


            </div>
          </div>
        </div>
      </div>


      <h1>THANKS TO</h1>
      <div class="row iconbar">

        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosnewyor" class="homeicons" src="/assets/eosnewyork.svg">
          </p>
          <h3>EOSNewYork</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="bigone" class="homeicons" src="/assets/bigone.svg">
          </p>
          <h3>BigOne</h3>


        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosnation" class="homeicons" src="/assets/EOSNation.svg">
          </p>
          <h3>EOSNation</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosdac" class="homeicons" src="/assets/EOSDac.svg">
          </p>
          <h3>EOSDac</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="blocks" class="homeicons" src="/assets/blocks.svg">
          </p>
          <h3>Bloks.io</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosstudio" class="homeicons" src="/assets/eosstudio.svg">
          </p>
          <h3>EOStudio</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="greymass" class="homeicons" src="/assets/greymass.svg">
          </p>
          <h3>Greymass</h3>


        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosphere" class="homeicons" src="/assets/eosphere.svg">
          </p>
          <h3>EOSphere</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="tokenrocket" class="homeicons" src="/assets/tokenrocket.svg">
          </p>
          <h3>TokenRocket</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="eosindex" class="homeicons" src="/assets/eosindex.svg">
          </p>
          <h3>EOSindex</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="meet" class="homeicons" src="/assets/meet.svg">
          </p>
          <h3>MEET.one</h3>

        </div>
        <div class="homeicons">
          <p class="padding-top-subtitle">
            <img alt="moreone" class="homeicons" src="/assets/moreone.svg">
          </p>
          <h3>MORE.one</h3>

        </div>
      </div>

        <div class="container">
          <div class="d-flex justify-content-center h-100">
            <div class="card">
              <div class="card-header">
                <h1>WHY WE CHOSE EOS BLOCKCHAIN?</h1>
              </div>
              <div class="card-body">

                <h2>EOS poses an entirely different ideological perspective on blockchain consensus, decentralization,
                  and how smart contracts should be executed and operated. Being a completely new platform, EOS is
                  attempting to not make what it considers to be fundamental mistakes made by its predecessors.

                  EOS.IO Software
                  One unique feature of EOS is that it will rely on the users of the platform to make their own
                  blockchains, rather than creating and managing a centralized chain themselves. Each blockchain running
                  the EOS.IO Software is expected to begin its chain with an EOS ‘genesis block’. The genesis block will
                  be a snapshot of the Ethereum blockchain taken on June 1, 2018 at 22:59:59 UTC that will record
                  ownership of the temporary ERC-20 EOS tokens that have been distributed throughout the platform’s ICO.
                  From this point, it is theorized that new blockchains running the EOS.IO software will compete against
                  one another until the most popular chain becomes the main chain used on the platform.

                  Token Cap
                  EOS is its approach to token distribution. block.one has put a one billion token cap on the release of
                  its ERC-20 token on the platform, a significantly higher number than most other cryptocurrency
                  platforms (e.g. Bitcoin’s cap is 21 million).

                  Despite being larger than most, token caps of any size have been argued to serve as an important means
                  of protecting token holders against inflation in ways that unlimited token cap platform’s like
                  Ethereum do not.

                  Programming Language and Dapp Development
                  EOS.IO aims to be a more efficient and easy-to-use platform for dapp developers than those that have
                  come before it. To that end, EOS.IO includes support for C++ programming, which is historically one of
                  the most popular coding languages. C++ is compatible with hundreds of thousands of pre-existing
                  libraries currently on the web for EOS developers to reference while building their dapps. This is a
                  potential advantage over a platform like Ethereum which uses a proprietary language called Solidity.

                  EOS.IO will also come pre-equipped with numerous useful features, including account creation and
                  recovery, multi-signature accounts, account messaging, role-based permissions, and many other commonly
                  used tools in application development.

                  Transaction Speed
                  EOS will have a block time of 0.5 seconds and claims to support a transaction speed of thousands, if
                  not millions, of transactions per second. This is perhaps the most exciting feature of EOS and is a
                  feat yet to be achieved by any other platform on the market.

                  DPoS Algorithm
                  One of the key elements to EOS’s security and speed is Daniel Larimer’s unique consensus algorithm
                  called Delegated Proof of Stake (DPoS). Larimer has been refining DPoS since 2013 and has successfully
                  implemented it in his previous blockchain projects, Bitshares and Steem.

                  Through the use of DPoS, EOS aims to address concerns surrounding decentralization, safety, and
                  scalability by allowing network token holders to cast votes in proportion to the size of their stake
                  in the network to elect 21 block producers. DPoS in effect democratizes the process of whose work is
                  chosen to be added to the network’s blockchain.

                  Because EOS token holders are voting for who is elected into the group of block producers, the block
                  producers are held accountable to the quality of their performance. In theory, the competition between
                  block producers to earn the votes of the stakeholders will spur on increased speed and scalability
                  while creating a barrier for entry that will prevent hackers from acquiring sufficient votes to have
                  their fraudulent work added to the chain.

                  DPoS is built on the idea that the barrier of entry block producers need to get through in order to be
                  elected as adds an additional layer of security that a PoS model doesn’t have, and leads to faster
                  transaction speeds than Ethereum’s overly complex sharding system can deliver.</h2>


              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    </body>
</html>

<cookie-law learnMore="/assets/CADEOS.io Privacy Policy.pdf" target="_self"></cookie-law>