
<body>

<div class="container">

  <div fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card class="my-2 mx-2" style=" background-color: rgb(248, 207, 253);">
      <mat-card-content fxLayout.xs="column" fxLayoutAlign="center center" >
        <!--        <button mat-button fxHide fxShow.gt-xs-->
        <button mat-button
                class="language-button"
                style="background-color: rgb(242, 166, 252);"
                [matMenuTriggerFor]="languageMenu">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
            <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
            
          </div>
        </button>

        <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

          <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso" style="background-color: rgba(242, 166, 252, 0); font-family: 'Anton', sans-serif !important;">{{lang.title}}</span>
                    </span>
          </button>

        </mat-menu>

      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-title>{{'ngxauthfirebaseui.signInTabText' | translate}}</mat-card-title>
      <ngx-auth-firebaseui>
     
        [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
        [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
        [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
        [nameText]="'ngxauthfirebaseui.nameText' | translate"
        [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
        [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
        [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
        [emailText]="'ngxauthfirebaseui.emailText' | translate"
        [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
        [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
        [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
        [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
        [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
        [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
        [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
        [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
        [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
        [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
        [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
        [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
        [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
        [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
      >
      </ngx-auth-firebaseui>
    </mat-card>
  </div>

