<style type="text/css">
    /*Rules for sizing the icon*/
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 1000%; text-shadow: -1px 0 rgb(197, 81, 252), 0 1px rgb(197, 81, 252), 1px 0 rgb(197, 81, 252), 0 -1px rgb(197, 81, 252);}
  
    </style>
  
  
  
  
  <img src="assets/ADE burning background.png" class="" style=" width: 100%;">
  
  <div class="jumbotron-fluid">
    <div class="container-fluid">
      <div class="full-width-row">
        <div class="col-sm-2 d-flex justify-content-center justify-content-md-end content-around">
        </div>
          <p class="buttons text-center backstretch animated">
            <a class="btn btn-outline-primary btn-sm text-center"  href="https://github.com/CADEOS"
               target="_blank" ><i class="fa fa-github fa-lg" ></i> Github</a>
            <a class="btn btn-outline-primary btn-sm text-center"  href="https://web.facebook.com/cadeos.io" target="_blank"><i
              class="fa fa-facebook-official fa-lg"></i> Facebook</a>
              <a class="btn btn-outline-primary btn-sm text-center"  href="https://twitter.com/cadeosi" target="_blank"><i
                class="fa fa-twitter fa-lg"></i> Twitter</a>
            <a class="btn btn-outline-primary btn-sm text-center"  href="https://t.me/cadeos" target="_blank"><i
                class="fa fa-telegram fa-lg"></i> Telegram</a>
           <a class="btn btn-outline-primary btn-sm text-center"  href="https://medium.com/cadeos-io" target="_blank"><i
               class="fa fa-medium fa-lg"></i> Medium</a>
           <a class="btn btn-outline-primary btn-sm text-center"  routerLink="/exchanges" target="_blank"><i
                class="fa fa-bitcoin fa-lg"></i> Exchanges</a>
        </div>
        </div>
  
  
  