<style type="text/css">
  /*Rules for sizing the icon*/
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 1000%; text-shadow: -1px 0 rgb(197, 81, 252), 0 1px rgb(197, 81, 252), 1px 0 rgb(197, 81, 252), 0 -1px rgb(197, 81, 252);}

  </style>




<img src="assets/ADE burning background.png" class="" style=" width: 100%;">

<div class="jumbotron-fluid">
  <div class="container-fluid">
    <div class="full-width-row">
      <div class="col-sm-2 d-flex justify-content-center justify-content-md-end content-around">
      </div>
        <p class="buttons text-center backstretch animated">
          <a class="btn btn-outline-primary btn-sm text-center"  href="https://github.com/CADEOS"
             target="_blank" ><i class="fa fa-github fa-lg" ></i> Github</a>
          <a class="btn btn-outline-primary btn-sm text-center"  href="https://web.facebook.com/cadeos.io" target="_blank"><i
            class="fa fa-facebook-official fa-lg"></i> Facebook</a>
            <a class="btn btn-outline-primary btn-sm text-center"  href="https://twitter.com/cadeosi" target="_blank"><i
              class="fa fa-twitter fa-lg"></i> Twitter</a>
          <a class="btn btn-outline-primary btn-sm text-center"  href="https://t.me/cadeos" target="_blank"><i
              class="fa fa-telegram fa-lg"></i> Telegram</a>
         <a class="btn btn-outline-primary btn-sm text-center"  href="https://medium.com/cadeos-io" target="_blank"><i
             class="fa fa-medium fa-lg"></i> Medium</a>
         <a class="btn btn-outline-primary btn-sm text-center"  routerLink="/exchanges" target="_blank"><i
              class="fa fa-bitcoin fa-lg"></i> Exchanges</a>
      </div>
      </div>

  </div>
        <!--toolbar-->
        <mat-toolbar [color]="color">
          <span>DECENTRALIZED CAD.FILES & PROJECT MANAGEMENT PLATFORM</span>
          <span class="fill-remaining"></span>
          <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar>
        </mat-toolbar>

        <div class="mbr-table-cell mbr-valign-center justify-content-center align-items-center text-center backstretch animated ">
            <div class="container justify-content-center align-items-center text-center">
            <div class="row"> 
            <div class="col-md-12 text-center justify-content-center align-items-center">
        </div>
        
        <div class="row col-md-12" style="text-align: center; align-items: center;">
          

        <div class="col-md-2" >
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://newdex.io/trade/cadeositoken-ade-eos" target="_blank">
          <img srcset="" alt="" src="/assets/Newdex.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
        </a>
        <h3 class="padding-bottom-title text-center"><b>Nedex</b></h3>

        </div>
        <div class="col-md-2">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://findex.pro/trade/cadeositoken_ADE-eosio.token_EOS" target="_blank">
          <img srcset="" alt="" src="/assets/Findex.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
        </a>
        <h3 class="padding-bottom-title text-center"><b>Findex</b></h3>

        </div>
        <div class="col-md-2">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://token.store/" target="_blank">
          <img srcset="" alt="" src="/assets/TokenStore.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
        </a>
        <h3 class="padding-bottom-title text-center"><b>TokenStore</b></h3>


        </div>
        <div class="col-md-2">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://mydex.win/" target="_blank">
          <img srcset="" alt="" src="/assets/Mydex.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
        </a>
        <h3 class="padding-bottom-title text-center"><b>Mydex</b></h3>

        </div> 
        <div class="col-md-2">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://akdex.io/trade/ADE_EOS" target="_blank">
          <img srcset="" alt="" src="/assets/Akkadex.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
        </a>
        <h3 class="padding-bottom-title text-center"><b>Akdex</b></h3>

      </div> 
      <div class="col-md-2">
      <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://lynxwallet.io/" target="_blank">
        <img srcset="" alt="" src="/assets/Lynx.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
      </a>
      <h3 class="padding-bottom-title text-center"><b>Lynx</b></h3>

    </div> 
    <div class="col-md-2">
    <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://meet.one/" target="_blank">
      <img srcset="" alt="" src="/assets/meet.one.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
    </a>
    <h3 class="padding-bottom-title text-center"><b>MEET.one</b></h3>
        

  </div> 
  <div class="col-md-2">
  <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://tokenbank.co.kr/" target="_blank">
    <img srcset="" alt="" src="/assets/tokenbank.jpg" class="" style= " color:black; width: 30%; border-radius: 50%; ">
  </a>
  <h3 class="padding-bottom-title text-center"><b>TokenBank</b></h3>

</div> 
<div class="col-md-2">
<a class="padding-top-subtitle text-center justify-content-center align-items-center" href="http://more.one/" target="_blank">
  <img srcset="" alt="" src="/assets/moreone.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
</a>
<h3 class="padding-bottom-title text-center"><b>MoreOne</b></h3>

</div> 
<div class="col-md-2">
<a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.tokenpocket.pro/" target="_blank">
  <img srcset="" alt="" src="/assets/tokenpoket.jpg" class="" style= " color:black; width: 30%; border-radius: 50%;">
</a>
<h3 class="padding-bottom-title text-center"><b>TokenPoket</b></h3>

    </div>

        </div>
        </div>
        </div>
      </div>

        <div class="mbr-table-cell mbr-valign-center content-size backstretch animated">
          <div class="container ">
          <div class="row">
          <div class="col-md-12">
          <h1 class="mbr-section-title padding-top-title text-center">
          FROM YOUR IDEA TO YOUR PRODUCT
          </h1>
          </div>
          <div class="col-md-3">
          <p class="padding-top-subtitle text-center">
            <img srcset="" alt="" src="" class=" fa fa-server material-icons md-48" style= " margin-bottom: 10%; color:black;">
          </p>
          <h2 class="padding-bottom-title text-center"><b>BlockChain Database</b></h2>

          <h3 class="padding-bottom-title text-center" style=" padding-bottom: 20%;">
          Powered by blockchain resources
          </h3>
          </div>
          <div class="col-md-3">
          <p class="padding-top-subtitle text-center">
            <img srcset="" alt="" src="" class=" fa fa-user material-icons md-48" style= " margin-bottom: 10%; color:black;">
          </p>
          <h2 class="padding-bottom-title text-center"><b>User Friendly</b></h2>

          <h3 class="padding-bottom-title text-center" style=" padding-bottom: 10%;">
          Intuintive enviroment multi-tool
          </h3>
          </div>
          <div class="col-md-3">
          <p class="padding-top-subtitle text-center">
            <img srcset="" alt="" src="" class=" fa fa-rocket material-icons md-48" style= " margin-bottom: 10%; color:black;">
          </p>
          <h2 class="padding-bottom-title text-center"><b>Product launcher</b></h2>
          <h3 class="padding-bottom-title text-center" style=" padding-bottom: 10%;">
            Your product promotion
          </h3>
          </div>
          <div class="col-md-3">
          <p class="padding-top-subtitle text-center">
            <img srcset="" alt="" src="" class=" fa fa-pie-chart material-icons md-48" style= " margin-bottom: 10%; color:black;">
          </p>
          <h2 class="padding-bottom-title text-center"><b>Economic System</b></h2>
          <h3 class="padding-bottom-title text-center" style=" padding-bottom: 10%;">
          PLM Economic Workplace  
          </h3>
          </div>
          </div>
          </div>
          </div>

        <div>
        

            <div id="slider" class="carousel slide infinite backstretch animated" data-ride="carousel" data-interval="3000" data-wrap="true">
                <ol class="carousel-indicators align-items-center justify-content-center">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                    <li data-target="#slider" data-slide-to="2"></li>
                    <li data-target="#slider" data-slide-to="3"></li>
                    <li data-target="#slider" data-slide-to="4"></li>
                    <li data-target="#slider" data-slide-to="5"></li>
                    <li data-target="#slider" data-slide-to="6"></li>
                    <li data-target="#slider" data-slide-to="7"></li>
                    <li data-target="#slider" data-slide-to="8"></li>
                    <li data-target="#slider" data-slide-to="9"></li>
                    <li data-target="#slider" data-slide-to="10"></li>
                    <li data-target="#slider" data-slide-to="11"></li>
                    <li data-target="#slider" data-slide-to="12"></li>
                    <li data-target="#slider" data-slide-to="13"></li>
                    <li data-target="#slider" data-slide-to="14"></li>
                    <li data-target="#slider" data-slide-to="15"></li>
                    <li data-target="#slider" data-slide-to="16"></li>
                    <li data-target="#slider" data-slide-to="17"></li>
                    <li data-target="#slider" data-slide-to="18"></li>
                    <li data-target="#slider" data-slide-to="19"></li>
                    <li data-target="#slider" data-slide-to="20"></li>
                    <li data-target="#slider" data-slide-to="21"></li>
                    <li data-target="#slider" data-slide-to="22"></li>
                    <li data-target="#slider" data-slide-to="23"></li>
                    <li data-target="#slider" data-slide-to="24"></li>
                    <li data-target="#slider" data-slide-to="25"></li>
                    <li data-target="#slider" data-slide-to="26"></li>
                    <li data-target="#slider" data-slide-to="27"></li>
                </ol>
                <div class="carousel-inner" data-ride="carousel" data-interval="50000" data-pause="hover" data-wrap="false">
                    <div class="carousel-item"style= "width: 40%; margin-left: 30%;">
                        <img class="d-block w-100" src="./assets/CADEOS - Whitepaper1.png" title="1" alt="1" href="#carousel" >
                    </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                        <img class="d-block w-100" src="./assets/CADEOS - Whitepaper2.png" title="2" alt="2" href="#carousel">
                    </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                        <img class="d-block w-100" src="./assets/CADEOS - Whitepaper3.png" title="3" alt="3" href="#carousel" >
                    </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                        <img class="d-block w-100" src="./assets/CADEOS - Whitepaper4.png" title="4" alt="4" href="#carousel" >
                    </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                        <img class="d-block w-100 " src="./assets/CADEOS - Whitepaper5.png" title="5" alt="5" href="#carousel" >
                    </div> 
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                      <img class="d-block w-100 " src="./assets/ADE EXCHANGES ANNOUNCE.png" title="6" alt="6" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/ADE Token Store.png" title="6" alt="6" href="#carousel" >
                  </div>
                  <div class="carousel-item active" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3 (2).png" title="7" alt="7" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3 - Dexeos (1).jpg" title="8" alt="8" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3 - FINDEX.jpg" title="9" alt="9" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3 - Mydex 3.jpg" title="10" alt="10" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3-newdex2.jpg" title="11" alt="11" href="#carousel" >
                  </div>
                  <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - EOSdaq.jpg" title="12" alt="12" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper1.png" title="13" alt="13" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper2.png" title="14" alt="14" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper3.png" title="15" alt="15" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper4.png" title="16" alt="16" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper5.png" title="17" alt="17" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS - Whitepaper6.png" title="18" alt="18" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS.jpg" title="19" alt="19" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS2.jpg" title="20" alt="20" href="#carousel" >
                  </div>          
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS3.jpg" title="21" alt="21" href="#carousel" >
                  </div> 
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS4.jpg" title="22" alt="22" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS5.jpg" title="23" alt="23" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS6.jpg" title="24" alt="24" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                    <img class="d-block w-100" src="./assets/CADEOS7.jpg" title="25" alt="25" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                     <img class="d-block w-100" src="./assets/CADEOS8.jpg" title="26" alt="26" href="#carousel" >
                  </div>
                    <div class="carousel-item" style= "width: 40%; margin-left: 30%;">
                     <img class="d-block w-100" src="./assets/CADEOS9.jpg" title="27" alt="27" href="#carousel" >
                  </div>

                    <a class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
              </div>


      <div class="backstretch animated">
         
      <div class="container"></div>

      <div class="col-sm-2 d-flex justify-content-center justify-content-md-end content-around" ></div>

         <h1>ELIMINATING OBSTACLES FOR CREATORS</h1>

         <h2>Today one of the biggest consttrains for entrepreneurs and creators are the expensive software licenses and, with CADEOS, we want to facilitate this process to everyone by getting rid of the problem with our decentralised software. We will make the creation process and product launch affordable and very easy within an intuitive and user friendly environment.



          By tokenising all kind of projects our users can see their ideas and effort successfully implemented. Our platform would will bring an opportunity to those brilliant minds that are stopped by the market barriers.
          
          
          
          From the first sketch to the manufacture process, the users can monitor the state of your design in our Product Lifecycle Manager (PLM) platform. Factories, suppliers and all the 3rd parties interested will be able to review your Request for Quotation (RfQ) in our platform and send the manufacture price for each component.
          
          
          
          With CADEOS you can design any mechanical and electronic component with our decentralised CAD software and promote it in our Community, under the watchful eye of thousands of investors looking for the best idea.
          
          
          
          CADEOS platform will host a large gallery of components from thousands of different brands and will be responsible of providing the most extensive resources as possible for an easy product composition.
          
          
          
          By creating your portfolio of suppliers you will have the best advice and direct communication with the best professionals in any industry around the world. Each area will have their own communication channels and chatrooms.
          
           
          
          With every creation within your dynamic user profile, you will add value to all your products, 3D models, 3D printer parts, electronic schemes, etc., favouring the bids and sales which will be a success in CADEOS Platform. Your work will never be lost or forgotten and will be revaluated from time to time with our token ADE.</h2>

        </div>

          <div class="mbr-table-cell mbr-valign-center justify-content-center align-items-center text-center backstretch animated overlay1">
            <div class="container justify-content-center align-items-center text-center overlay1">
            <div class="row"> 
            <div class="col-md-12 text-center justify-content-center align-items-center overlay1">
            <h1 class="mbr-section-title text-center justify-content-center align-items-center" style=" margin-top: 3%; margin-bottom: 3%;">
            TEAM
          </h1>
        </div>
        <div class="col-md-3 justify-content-center align-items-center overlay1">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center overlay1" href="https://www.linkedin.com/in/maria-jose-arroyo-gerez-36907991/" target="_blank" >
          <img srcset="" alt="" src="/assets/majo.jpeg" class="" href="https://newdex.io/trade/cadeositoken-ade-eos" target="_blank" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
        </a>
        <p class="padding-bottom-title text-center"><b>Maria Jose Arroyo</b></p>

        <p class="padding-bottom-title text-center">
        Marketing Director
        </p>
        </div>
        <div class="col-md-3 ">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.linkedin.com/in/guillermo-galindo-saeta-749a2557/" target="_blank" >
          <img srcset="" alt="" src="/assets/guille.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
        </a>
        <p class="padding-bottom-title text-center"><b>Guillermo Galindo</b></p>

        <p class="padding-bottom-title text-center justify-content-center align-items-center">
        CEO & Full Stack Developer
        </p>
        </div>
        <div class="col-md-3">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.linkedin.com/in/jes%C3%BAs-moya-galindo-bb24861a/" target="_blank" >
          <img srcset="" alt="" src="/assets/jesus.jpeg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
        </a>
        <p class="padding-bottom-title text-center"><b>Jesus Moya</b></p>

        <p class="padding-bottom-title text-center">
        Program Manager
        </p>
        </div>
        <div class="col-md-3">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.linkedin.com/in/javier-saeta-hidalgo/" target="_blank" >
          <img srcset="" alt="" src="/assets/javi.jpeg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
        </a>
        <p class="padding-bottom-title text-center"><b>Javier Saeta</b></p>
        <p class="padding-bottom-title text-center">Junior Developer</p>
        </div> 

        <div class="row col-md-12 align-items-center" style=" margin-left: 13%; text-align: center; margin-top: 5%; margin-bottom: 5%;">

        <div class="col-md-3 align-items-center">
        <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.linkedin.com/in/h%C3%A9ctor-garz%C3%B3n-6914ba69/" target="_blank" >
          <img srcset="" alt="" src="/assets/hector.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
        </a>
        <p class="padding-bottom-title text-center"><b>Hector Garzon</b></p>
        <p class="padding-bottom-title text-center">Mobile APP Developer</p> 
        
      </div>
      <div class="col-md-3">
      <a class="padding-top-subtitle text-center justify-content-center align-items-center" href="https://www.linkedin.com/in/dgalindosaeta/" target="_blank" >
        <img srcset="" alt="" src="/assets/diego.jpeg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
      </a>
      <p class="padding-bottom-title text-center"><b>Diego Galindo</b></p>
      <p class="padding-bottom-title text-center">Advisor</p>
    </div>
    <div class="col-md-3">
    <a class="padding-top-subtitle text-center justify-content-center align-items-center"href="https://www.linkedin.com/in/antonio-galindo/" target="_blank"  >
      <img srcset="" alt="" src="/assets/antonio.jpeg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
    </a>
    <p class="padding-bottom-title text-center"><b>Antonio Galindo</b></p>
    <p class="padding-bottom-title text-center">Business Expert</p>
    </div>

        </div>
        </div>
        </div>
      </div>
    </div>

            <div class="backstretch animated">

            <h1>TOKENIZING THE WORK</h1>

            <h2>CADEOS.io developing a real time processing Computer Aided Design (CAD) and a Product Lifecycle Management (PLM) platform based on EOS blockchain architecture. It provides the best real time design tools to the community, including data sharing, video calls, instant messenger and screen sharing for the best collaborative experience, showing progress of the project management work and helping to grow your network. 



              All this within an intuitive, user friendly and fast environment where the user can feel that they are part of the Cadeos Community, with interactive galleries and video tutorials that will help you to improve your technical knowledge as you move on in the process.
              
              
              
              With this great software and product design experience CADEOS platform will be a revolution on how the companies spend their capital, saving time and resources, unifying every daily task in this unique and secure platform.
              
              
              
              Our roadmap will start with the launch of CADEOS.io platform; then we will build a CAD. file sharing platform for each industrial sector. The Community will be able to upload their models in their own galleries, and the users will be able to download them to be used in their own designs accordingly to their needs.
              
              
              
              CADEOS.io will support the following extensions in the first release: .stp, .igs, stl.
              
              
              
              The next releases in our roadmap will be mainly focused on adding new design modules and galleries to the existing platform.
              
              
              
              As added value to the community we want to create a job network where companies will be able to post their job offers to professionals seeking job in all the areas involved such as CAD, 3D printers parts, software development, etc. Being part of this network will be free for the jobseekers creating a huge benefit to the EOS ecosystem.
              
              
              
              Companies will just have to pay a fee for the service they will use or the duration. All invoices will be linked to a smart contract associated to their corresponding wallet. Data protection and security are guaranteed by Block.one/EOS reliability.</h2>

            </div>
      

            <div class="mbr-table-cell mbr-valign-center justify-content-center align-items-center text-center backstretch animated overlay1">
                <div class="container justify-content-center align-items-center text-center overlay1">
                <div class="row"> 
                <div class="col-md-12 text-center justify-content-center align-items-center overlay1">
            <h1 class="mbr-section-title text-center justify-content-center align-items-center" >
                THANKS TO
              </h1>
            </div>

            <div class="row col-md-12 align-items-center" style=" margin-left: 6%; text-align: center;">
              
    
            <div class="col-md-1 justify-content-center align-items-center overlay1">
            <p class="padding-top-subtitle text-center justify-content-center align-items-center overlay1">
              <img srcset="" alt="" src="/assets/eosnewyork.jpeg" class="" style= " margin-bottom: 10%;  color:black; width: 80%; border-radius: 50%;">
            </p>
            <h2 class="padding-bottom-title text-center"><b>EOSNewYork</b></h2>
    
            </div>
            <div class="col-md-1">
            <p class="padding-top-subtitle text-center justify-content-center align-items-center">
              <img srcset="" alt="" src="/assets/scatter.png" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
            </p>
            <h2 class="padding-bottom-title text-center"><b>Scatter</b></h2>
    
            </div>
            <div class="col-md-1">
            <p class="padding-top-subtitle text-center justify-content-center align-items-center">
              <img srcset="" alt="" src="/assets/bigone.png" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
            </p>
            <h2 class="padding-bottom-title text-center"><b>BigOne</b></h2>
    
    
            </div>
            <div class="col-md-1">
            <p class="padding-top-subtitle text-center justify-content-center align-items-center">
              <img srcset="" alt="" src="/assets/nebula.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; border-radius: 50%;">
            </p>
            <h2 class="padding-bottom-title text-center"><b>Nebula</b></h2>
    
            </div> 
            <div class="col-md-1 align-items-center">
            <p class="padding-top-subtitle text-center justify-content-center align-items-center">
              <img srcset="" alt="" src="/assets/blocks.png" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
            </p>
            <h2 class="padding-bottom-title text-center"><b>Bloks.io</b></h2>
    
          </div> 
          <div class="col-md-1 align-items-center">
          <p class="padding-top-subtitle text-center justify-content-center align-items-center">
            <img srcset="" alt="" src="/assets/eosstudio.png" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
          </p>
          <h2 class="padding-bottom-title text-center"><b>EOStudio</b></h2>
    
        </div> 
        <div class="col-md-1 align-items-center">
        <p class="padding-top-subtitle text-center justify-content-center align-items-center">
          <img srcset="" alt="" src="/assets/greymass.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
        </p>
        <h2 class="padding-bottom-title text-center"><b>Greymass</b></h2>
            
    
      </div> 
      <div class="col-md-1 align-items-center">
      <p class="padding-top-subtitle text-center justify-content-center align-items-center">
        <img srcset="" alt="" src="/assets/eosphere.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
      </p>
      <h2 class="padding-bottom-title text-center"><b>EOSphere</b></h2>
    
    </div> 
    <div class="col-md-1 align-items-center">
    <p class="padding-top-subtitle text-center justify-content-center align-items-center">
      <img srcset="" alt="" src="/assets/tokenrocket.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
    </p>
    <h2 class="padding-bottom-title text-center"><b>TokenRocket</b></h2>
    
    </div> 
    <div class="col-md-1 align-items-center">
    <p class="padding-top-subtitle text-center justify-content-center align-items-center">
      <img srcset="" alt="" src="/assets/eosindex.jpg" class="" style= " margin-bottom: 10%; color:black; width: 80%; height: 80%; border-radius: 50%;">
    </p>
    <h2 class="padding-bottom-title text-center"><b>EOSindex</b></h2>
    
            </div>
            </div>
            </div>
          </div>
        </div>

            <div class="backstretch animated" style="padding-bottom: 5%;">

              <h1>WHY WE CHOSE EOS BLOCKCHAIN?</h1>
  
              <h2>EOS poses an entirely different ideological perspective on blockchain consensus, decentralization, and how smart contracts should be executed and operated. Being a completely new platform, EOS is attempting to not make what it considers to be fundamental mistakes made by its predecessors.

                EOS.IO Software
                One unique feature of EOS is that it will rely on the users of the platform to make their own blockchains, rather than creating and managing a centralized chain themselves. Each blockchain running the EOS.IO Software is expected to begin its chain with an EOS ‘genesis block’. The genesis block will be a snapshot of the Ethereum blockchain taken on June 1, 2018 at 22:59:59 UTC that will record ownership of the temporary ERC-20 EOS tokens that have been distributed throughout the platform’s ICO. From this point, it is theorized that new blockchains running the EOS.IO software will compete against one another until the most popular chain becomes the main chain used on the platform.
                
                Token Cap
                EOS is its approach to token distribution. block.one has put a one billion token cap on the release of its ERC-20 token on the platform, a significantly higher number than most other cryptocurrency platforms (e.g. Bitcoin’s cap is 21 million).
                
                Despite being larger than most, token caps of any size have been argued to serve as an important means of protecting token holders against inflation in ways that unlimited token cap platform’s like Ethereum do not.
                
                Programming Language and Dapp Development
                EOS.IO aims to be a more efficient and easy-to-use platform for dapp developers than those that have come before it. To that end, EOS.IO includes support for C++ programming, which is historically one of the most popular coding languages. C++ is compatible with hundreds of thousands of pre-existing libraries currently on the web for EOS developers to reference while building their dapps. This is a potential advantage over a platform like Ethereum which uses a proprietary language called Solidity.
                
                EOS.IO will also come pre-equipped with numerous useful features, including account creation and recovery, multi-signature accounts, account messaging, role-based permissions, and many other commonly used tools in application development.
                
                Transaction Speed
                EOS will have a block time of 0.5 seconds and claims to support a transaction speed of thousands, if not millions, of transactions per second. This is perhaps the most exciting feature of EOS and is a feat yet to be achieved by any other platform on the market.
                
                DPoS Algorithm
                One of the key elements to EOS’s security and speed is Daniel Larimer’s unique consensus algorithm called Delegated Proof of Stake (DPoS). Larimer has been refining DPoS since 2013 and has successfully implemented it in his previous blockchain projects, Bitshares and Steem.
                
                Through the use of DPoS, EOS aims to address concerns surrounding decentralization, safety, and scalability by allowing network token holders to cast votes in proportion to the size of their stake in the network to elect 21 block producers. DPoS in effect democratizes the process of whose work is chosen to be added to the network’s blockchain.
                
                Because EOS token holders are voting for who is elected into the group of block producers, the block producers are held accountable to the quality of their performance. In theory, the competition between block producers to earn the votes of the stakeholders will spur on increased speed and scalability while creating a barrier for entry that will prevent hackers from acquiring sufficient votes to have their fraudulent work added to the chain.
                
                DPoS is built on the idea that the barrier of entry block producers need to get through in order to be elected as adds an additional layer of security that a PoS model doesn’t have, and leads to faster transaction speeds than Ethereum’s overly complex sharding system can deliver.</h2>
  
              </div>

